# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
.env
.venv
env/
venv/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Local configuration
config.json
config2.json

# Compiled Python files
*.pyc

# Logs
*.log
logs/

# OS specific
.DS_Store
Thumbs.db

# Application specific
*.spec
temp_ocr_files/
